#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ────────────── PROJECTS GRID ────────────── */
.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3.0rem;
  margin-top: 2rem;
  justify-items: center;
}

/* ────────────── NAVBAR FULL WIDTH ────────────── */
.navbar {
  display: flex;
  gap: 1.5rem;
  justify-content: right;
  padding: .2rem 1rem;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #7b1d3f;
  border-radius: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1000;
}
.nav-links {
  display: flex;
  gap: 1.5rem;

}
.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}